html{
    font-family:monospace;
    background:  linear-gradient(to right, #eeeff5, #f7f7f7);
}
.head{
    display:flex;
    padding: 0 50px;
    font-size: 20px;
    color:#3f3b4e;
    border-bottom: 0.1px solid  #e9e7f1;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.0001);


}
.headings{
    display:flex;
    margin-top:35px;
    margin-left: 460px;
    padding: 0 70px;
    flex-direction:row;
    color: black;
}
.headings a{
  text-decoration:none;
  color:black;
}
.logo a{
text-decoration:none;}

.sm{
    padding:0 30px;
    font-size: 25px;
}
.pz{
    padding:0 30px;
     font-size: 25px;
}
.about{
    padding:0 30px;
     font-size: 25px;
}
.con{
    padding:0 30px;
     font-size: 25px;
}
span.name{
    color:#3a7bd5;
    font-size: 40px;
}
.main{
    display: flex;

}

.log{
     padding: 16px 50px;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(to right,#00d2ff,#3a7bd5 );
    color: white;
     border: 1px solid transparent ;
     margin-top: -80px;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  margin-left:50px;
}

*, *:before, *:after {
  box-sizing: right;
}

h2 {text-align: center;}
p {text-align: center;}
.page-header {
  margin-top: 50px;
  margin-bottom: 90px;
 font-size: 40px;
 text-align:center;
 margin-left: 200px;
    height: 50px;
    width: 70%;
     ;
  
}

.column {
  
  float: left;
  width: 22%;
  margin-bottom: 60px;
  padding: 0 50px;
}
.row{
  display: flex;
  flex-direction:row;
   justify-content:space-around;
}
.column1 {
  width: 40%;
  margin-bottom: 60px;
  padding: 0 60px;
 
}

@media screen and (max-width: 650px) {
  .column {
    width: 75%;
    display: flex;
  }

  .column1 {
    width: 75%;
    display: flex;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border : 1px solid #0b179054;
  background: linear-gradient();
  margin: auto;
  text-align: center;
  padding: 8px;


}

.container {
  padding: 0 16px;
  align-items: center;
 
}
.container h2{
  font-size: 25px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: black;
}

img {
  border-radius: 50%;
  margin: 16px;
  width: 40%;
  
}



.fa {
  padding: 8px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 10px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  width:30px; 
  height:34px;
}

.animate-zoom {
  animation:animatezoom 5s
}

@keyframes animatezoom{
  from{transform:scale(0)} to{transform:scale(1)}
}

.connect{
  padding: 16px 40px;
    font-size: 20px;
    border-radius: 20px;
    background: linear-gradient(to right,#00d2ff,#3a7bd5 );
    color: white;
     border: 1px solid transparent ;
     ;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  margin-bottom:30px;
}

.footer{
  background: linear-gradient(to right,#00d2ff,#3a7bd5 );;
  height: 190px;
  margin-top: 80px
}

.write{
  text-align:center;
  font-size: 25px
}

.write img{
  width: 530px;

}
.join{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin-top: 50px;
  padding:0 0 70px 70px;
  font-size: 29px
 
}

.whatsapp{
  padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(to right,#00d2ff,#3a7bd5 );
    color: white;
     border: 1px solid transparent ;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  margin-bottom:10px;
  margin-top: 10px

}

.whatsapp a{
  text-decoration: none;
  color:white;
}